<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gallery Connect</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#dialog" ).dialog();
  });
  </script>
</head>
<body>
<div class="confirm-page">
  <div id="dialog" title="Gallery Church">
    <p>Your Connection Card has been received!</p>
    <button id="okay-button">Okay</button>
  </div>
</div>
 
 
</body>
<script>
$('#okay-button').click(function(){
  window.location.replace("http://www.gallerychurch.com/new");
});
</script>
</html>