.web-card-form {
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  background: rgb(90,90,90);
  color: rgb(185,207,158);
}

.web-card-form input{
  width: 260px;
}

.webcard-title {
  text-align: center;
  color: rgb(90,90,90);
}

.webcard-holder ul li a{
  font-family: avenir;
  color: rgb(185,207,158);
}

.webcard-holder ul li a:hover{
  color: rgb(90,90,90);
}

.webcard-holder ul li {
  width: 250px;
  text-align: right;
  list-style-type: none;
}

.webcard-holder {
  display: inline;
  font-family: avenir;
  color: rgb(90,90,90);
}

.webcard-holder h2 {
  padding-left: 40px;
}

.webcard-page-container h2{
  text-align: center;
  font-weight: 100;
  font-family: "Oxygen", Arial, Helvetica, sans-serif !important
}

.webcard-page-container h2 span{
  color: rgb(185,207,158);
}

.deletebutton{
  padding-left: 15px;
  background: none;
  border: none;
  font-family: avenir;
  cursor: pointer;
}

.deletebutton:hover{
  color: red; 
}

.confirm-page{
  height: 500px;
  margin-top: 75px;
  background: url('GCBackground.jpg');
  background-size: cover;
}

#dialog {
  background: rgb(90,90,90);
  color: rgb(185,207,158);
}

#okay-button {
  background: rgb(185,207,158);
  float: right;
}
